@import "tailwindcss";

.cardx {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 10px;
  /* Following dimensions seen on both desktop and mobile view as they are fixed size */
  width: 347px; 
  height: 198px;
  /* Following the distance between component found in the document */
  justify-content: space-between;
}

.add-new-card {
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  width: 347px; 
  height: 198px;
  justify-content: center;
  align-items: center;
}

.add-card-plus {
  font-size: 64px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}

.card-identity {
  padding-top: 24px;
  padding-left: 15px;
}

.card-title {
  color: #00000080;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}


.card-input {
  margin: 10px 13px;
  width: 214px;
  color: #000000;
  padding: 10px;
  background-color: #D4D4D84D;
  border-radius: 10px;
  font-weight: 300;
  font-size: 10px;
  line-height: 20px;
  flex: 1;
}

.card-not-saved {
  margin: 10px 13px;
  width: 214px;
  color: #000000;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
  font-weight: 300;
  font-size: 10px;
  line-height: 20px;
  flex: 1;
}

.save-button {
  color: #393937;
  justify-self: center;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 600px;
  line-height: 20px;
}
