:root {
  font-family: Inter, system-ui;

  color-scheme: dark;
  color: #FFFFFF;
  background-color: #181919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}